<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chinesered</key>
	<array>
		<integer>170</integer>
		<integer>56</integer>
		<integer>30</integer>
	</array>
	<key>salmon</key>
	<array>
		<integer>250</integer>
		<integer>128</integer>
		<integer>114</integer>
	</array>
	<key>tomato</key>
	<array>
		<integer>255</integer>
		<integer>99</integer>
		<integer>71</integer>
	</array>
	<key>orangered</key>
	<array>
		<integer>255</integer>
		<integer>69</integer>
		<integer>0</integer>
	</array>
	<key>maroon</key>
	<array>
		<integer>128</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>darkred</key>
	<array>
		<integer>139</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>red</key>
	<array>
		<integer>255</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>firebrick</key>
	<array>
		<integer>178</integer>
		<integer>34</integer>
		<integer>34</integer>
	</array>
	<key>crimson</key>
	<array>
		<integer>220</integer>
		<integer>20</integer>
		<integer>60</integer>
	</array>
	<key>lightcoral</key>
	<array>
		<integer>240</integer>
		<integer>128</integer>
		<integer>128</integer>
	</array>
	<key>indianred</key>
	<array>
		<integer>205</integer>
		<integer>92</integer>
		<integer>92</integer>
	</array>
</dict>
</plist>
